<% include ./partials/header %>
<pre><%= JSON.stringify(response,null, 2) %></pre>
<h1>Random Joke in Category </h1>
<img src="<%= response.iconUrl %>">
<li><%= response.value %></li>
<% include ./partials/footer %>